@model IEnumerable<TrainingCentersCRM.Models.ScheduleTtrainingCours>

<h2>Расписание учебных курсов</h2>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col s12 card">
            <h4>
                @Html.DisplayFor(modelItem => item.TrainingCours.Title)
            </h4>
            <label>Даты проведения:</label>
            <div>
                @{
                    var culture = new System.Globalization.CultureInfo("ru-RU");
                }
                @(item.DateStart == null ? "" : ((DateTime)item.DateStart).ToString("d", culture))
                -
                @(item.DateEnd == null ? "" : ((DateTime)item.DateEnd).ToString("d", culture))
            </div>
            <label>Учебный центр:</label>
            <div>
                @Html.DisplayFor(modelItem => item.TrainingCenter.Organization)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <br />
        </div>
    </div>
}