@model TrainingCentersCRM.Models.TrainingCours

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <h2>Удаление</h2>
    <h3>Вы действительно хотите удалить этот курс?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Hourse)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Hourse)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriceForOrganizations)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PriceForOrganizations)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PriceForIndividuals)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PriceForIndividuals)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CostOfOneHourForOrganizations)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CostOfOneHourForOrganizations)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CostOfOneHourForIndividuals)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CostOfOneHourForIndividuals)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LevelOfDifficulty)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LevelOfDifficulty)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RequiredPreliminaryPreparation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RequiredPreliminaryPreparation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MandatoryPreliminaryPreparation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MandatoryPreliminaryPreparation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdObject)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdObject)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("Вернуться", "Index")
            </div>
        }
    </div>
</div>