@model TrainingCentersCRM.Models.TrainingCours
@using TrainingCentersCRM.Infrastructure;
@using TrainingCentersCRM.Models;

@{
    ViewBag.Title = "Учебный курс " + @Model.Title;
}

<link rel="stylesheet" href="/Content/module.css">
<script type="text/javascript">
    var courseId = '@Model.Id';
    $(document).ready(function () {
        reloadQualificationsTC(courseId);
        $("#submitQualifTC").click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/empty/TrainingCours/SetQualifications',
                type: 'post',
                data: $("#qualificationTCForm").serialize(),
                success: function (data) {
                    $("#qualificationTCFormDiv").toggle();
                    reloadQualificationsTC(courseId);
                }
            });
        });
    });
</script>

@Scripts.Render("~/bundles/coursedetails")

<article class="container">
    <a href="@Url.Action("Edit", "TrainingCours", new { id = Model.Id })">Редактировать учебный курс</a>
    <div class="row">
        <h2 class="col s9">@Html.DisplayFor(model => model.Title)</h2>
        <div class="col s3 notes center">@Html.DisplayFor(model => model.Hourse) часов</div>
    </div>
    <article class="pay teachers row">
        <p class="text col s9">
            @Html.Raw(Model.ShortDescription)
        </p>
        <div class="col s3 notes notes-grey left-align">
            <div class="left-align">
                <b>Ближайшие даты занятий</b>
                <a class="waves-effect waves-light" href="#" title="Добавить" onclick="javascript: showAddCourseTime(); return false;"><i class="tiny mdi-content-add-box center"></i></a>
                @foreach (ScheduleTtrainingCours date in ViewBag.Dates)
                {
                    <br />
                    @date.TrainingCenter.Organization
                    <text>:</text>
                    @(((DateTime)date.DateStart).ToString("dd.MM.yyyy"))
                    <text>-</text>
                    @(((DateTime)date.DateEnd).ToString("dd.MM.yyyy"))
                    <a href="/empty/ScheduleTtrainingCours/Edit/@date.Id" title="Редактировать" class="mdi-image-edit"></a>
                    <a href="/empty/ScheduleTtrainingCours/Delete/@date.Id" title="Удалить" class="mdi-content-remove-circle"></a>
                    @*@Html.ActionLink(" ", "Edit", "ScheduleTtrainingCours", new { id = date.Id }, new { @class = "mdi-image-edit", @title = "Редактировать" })
                        @Html.ActionLink(" ", "Delete", "ScheduleTtrainingCours", new { id = date.Id }, new { @class = "mdi-content-remove-circle", @title = "Удалить" })*@

                }
                <div id="addCourseTimeContainer" style="display: none">
                    <form method="post" id="AddTimeForm" action="/empty/TrainingCours/AddTime/">
                        <label>Описание</label>
                        <textarea name="Description" id="Description"></textarea>
                        <label>Начало</label>
                        <input type="date" class="datepicker" name="DateStart" id="DateStart" />
                        <label>Окончание</label>
                        <input type="date" class="datepicker" name="DateEnd" id="DateEnd" />
                        <input type="hidden" name="IdTrainingCourse" id="IdTrainingCourse" value="@Model.Id" />
                        <input type="hidden" name="IdTrainingCenter" id="IdTrainingCenter" value="@(TCHelper.GetCurrentTc().Id)" />
                        <button name="AddCourseDateButton" id="AddCourseDateButton" class="btn">Добавить</button>
                    </form>
                </div>
            </div>
            <br />
            <div class="left-align">
                <b class="center">Рекомендуемый уровень знаний:</b><br />
                @Html.DisplayFor(model => model.RequiredPreliminaryPreparation) <br />
                <b>Обязательный уровень знаний:</b> <br />
                @Html.DisplayFor(model => model.MandatoryPreliminaryPreparation) <br />
                <b>Сложность:</b> @Html.DisplayFor(model => model.LevelOfDifficulty) /10
            </div>
        </div>
        <div class="col s3 right">
            <br /><br />
            @{
                string hhkeys = "";
                List<string> ids = new List<string>();
                foreach (var key in Model.QualificationTrainingCours)
                {
                    hhkeys += key.Qualification.HeadHunterKeys + ",";
                    if (key.Qualification != null && key.Qualification.HeadHunterId != null)
                    {
                        ids.Add(key.Qualification.HeadHunterId.ToString());
                    }
                }
            }
            @Html.HeadHunterWidget(hhkeys, ids.ToArray(), TCHelper.GetCurrentTc().HHCityId)
        </div>
        @*        <p class="text s12"> <a href="">Вакансии</a> на которые вы сможете претендовать после прохождения нашего курса.</p>*@
        <p class="text s9"> <a href="" id="competenceLink" onclick='javascript: $("#qualificationTCFormDiv").toggle(); return false;'>Компетенции</a>, на развитие которых нацелен этот курс:</p>

        <div class="text s9" id="qualificationTCFormDiv">
            <form id="qualificationTCForm" name="qualificationTCForm" action="/empty/TRainingCourc/SetQualifications" method="post">
                @Html.HiddenFor(model => model.Id)
                @{
                    int cnt = 0;
                    List<TrainingCentersCRM.Models.ViewModels.RelatedQualifications> qualifications = ViewBag.Qualifications;
                    if (qualifications != null)
                    {
                        foreach (var qualification in qualifications)
                        {
                            <div style="display: none">
                                <input type="checkbox"
                                       name="selectedQualifications"
                                       value="@qualification.QualificationID"
                                       @(Html.Raw(qualification.Assigned ? "checked=\"checked\"" : "")) />
                                @qualification.Title
                            </div>
                        }
                    }
                }


                <div id="qualificationTree" style="width: 400px; overflow-x: scroll; white-space: nowrap; float: left"></div>
                <br />
                <button id="submitQualifTC" name="submitQualifTC" class="waves-effect waves-light btn">Сохранить</button>

                @section Scripts {
                    <script src="~/Scripts/vacancyTree.js"></script>
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </form>
        </div>

        <div class="text col s5" id="qualificationList"></div>
        @*</article>
            <article class="pay row">*@
        <h4 class="text col s9">Стоимость курса</h4>
        <div class="text col s9 row">
            <div class="pay-label col s6">для физических лиц</div>
            <div class="pay-label col s6">для организаций</div>
        </div>
        <div class="text col s9 row">
            <div class="pay-col col s3">@Html.DisplayFor(model => model.PriceForIndividuals) рублей  <br>за полный курс</div>
            <div class="pay-col col s3">@Html.DisplayFor(model => model.CostOfOneHourForIndividuals) <br> за час курса</div>
            <div class="pay-col col s3">@Html.DisplayFor(model => model.PriceForOrganizations) рублей <br> за полный курс</div>
            <div class="pay-col col s3">@Html.DisplayFor(model => model.CostOfOneHourForOrganizations) рублей <br> за час курса</div>
        </div>
        @if (TCHelper.GetCurrentTCName() != "empty")
        {

            <div class="col s9">
                <h4>
                    Преподаватели
                    <a class="waves-effect waves-light" href="#" onclick="javascript: showRelatedTeachers(courseId); return false;"><i class="tiny mdi-content-add-box center"></i></a>
                </h4>
                <div id="dropDownRelatedTeachers" style="display: none"></div>
            </div>
            <div class="col s9">
                @foreach (TrainingCentersCRM.Models.Teacher t in ViewBag.trainingCourseTeacher)
                {
                    <div class="col s4">
                        <div class="card-image">
                            @if (t.Image != null)
                            {
                                <img src='/empty/Teachers/Image/@t.Id' />
                            }
                            <span class="card-title">@t.LastName @t.FirstName @t.Patronymic. </span>
                        </div>
                        <div class="card-content">
                            <p>
                                @t.Description
                            </p>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="col s9">
            <h4>
                Учебная программа
                <a class="waves-effect waves-light" href="@Url.Action("Create", "TrainingModule", new { id = Model.Id })"><i class="tiny mdi-content-add-box center"></i></a>

            </h4>
            <div class="col s8 offset-s1">
                @foreach (var module in Model.CourseModules.OrderBy(a => a.TrainingModule.Numbers))
                {
                    <div>
                        <h5>
                            <a href="">@module.TrainingModule.Title</a>
                            <a class="waves-effect waves-light" href="@Url.Action("Edit", "TrainingModule", new { id = module.IdTrainingModule })"><i class="tiny mdi-content-create center"></i></a>
                            <a class="waves-effect waves-light" href="@Url.Action("Delete", "TrainingModule", new { id = module.IdTrainingModule })"><i class="tiny mdi-content-clear center"></i></a>
                        </h5>
                        <p>@module.TrainingModule.ShortDescription</p>
                    </div>
                }
            </div>
        </div>
        @if (TCHelper.GetCurrentTCName() != "empty")
        {
            <div class="col s12">
                <h4>
                    Рекомендуемые курсы
                    <a class="waves-effect waves-light" href="#" onclick="javascript: showRelated(courseId); return false;"><i class="tiny mdi-content-add-box center"></i></a>
                </h4>
                <div id="dropDownRelated" style="display: none">
                </div>
                @{
            int j = 1;
                }
                @foreach (var item in (IEnumerable<TrainingCours>)ViewBag.RelatedCourses)
                {
                    if (item == null)
                    {
                        continue;
                    }
                    <div class="col s4 m4">
                        <img src="https://placeimg.com/628/471/tech/@(j++)" alt="">
                        <h5>@item.Title</h5>
                        <p>
                            @if (item.ShortDescription.Length > 300)
                            {
                                @Html.Raw(item.ShortDescription.Substring(0, 300))
                                <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.ShortDescription)
                            }
                        </p>
                        <a href="/@(TCHelper.GetCurrentTc().Url)/TrainingCours/Details/@item.Id">Подробнее</a>
                    </div>
                }
            </div>
        }
    </article>
</article>
<script type="text/javascript">
    var curTCUrl = "@(TCHelper.GetCurrentTc().Url)";
</script>
