@model TrainingCentersCRM.Models.TrainingCours
@using TrainingCentersCRM.Infrastructure;

@{
    ViewBag.Title = "Учебный курс " + @Model.Title;
}
<link rel="stylesheet" href="/Content/module.css">
<article class="container">
    <a href="@Url.Action("Edit", "TrainingCours", new { id = Model.Id })">Редактировать учебный курс</a>
    <div class="row">
        <h2 class="col s9">@Html.DisplayFor(model => model.Title)</h2>
        <div class="col s3 notes center">@Html.DisplayFor(model => model.Hourse) часов</div>
    </div>
    <article class="pay teachers row">
        <p class="text col s9">
            @Html.DisplayFor(model => model.ShortDescription)
        </p>
        <div class="col s3 notes notes-grey">
            Рекомендуемый уровень знаний:
            @Html.DisplayFor(model => model.RequiredPreliminaryPreparation) <br />
            Обязательный уровень знаний: <br />
            @Html.DisplayFor(model => model.MandatoryPreliminaryPreparation) <br />
            Сложность: @Html.DisplayFor(model => model.LevelOfDifficulty) /10
        </div>
        <div class="col s3 right">
            <br /><br />
            @{
                string hhkeys = "";
                List<string> ids = new List<string>();
                foreach (var key in Model.QualificationTrainingCours)
                {
                    hhkeys += key.Qualification.HeadHunterKeys + ",";
                    if (key.Qualification != null && key.Qualification.HeadHunterId != null)
                    {
                        ids.Add(key.Qualification.HeadHunterId.ToString());
                    }
                }
            }
            @Html.HeadHunterWidget(hhkeys, ids.ToArray(), TCHelper.GetCurrentTc().HHCityId)
        </div>
        @*        <p class="text s12"> <a href="">Вакансии</a> на которые вы сможете претендовать после прохождения нашего курса.</p>*@
        <p class="text s9"> <a href="" id="competenceLink" onclick='javascript: $("#qualificationTCFormDiv").toggle(); return false;'>Компетенции</a>, на развитие которых нацелен этот курс:</p>

        <div class="text s9" id="qualificationTCFormDiv">
            <form id="qualificationTCForm" name="qualificationTCForm" action="/empty/TRainingCourc/SetQualifications" method="post">
                @Html.HiddenFor(model => model.Id)
                @{
                    int cnt = 0;
                    List<TrainingCentersCRM.Models.ViewModels.RelatedQualifications> qualifications = ViewBag.Qualifications;
                    if (qualifications != null)
                    {
                        foreach (var qualification in qualifications)
                        {
                            <div style="display: none">
                                <input type="checkbox"
                                       name="selectedQualifications"
                                       value="@qualification.QualificationID"
                                       @(Html.Raw(qualification.Assigned ? "checked=\"checked\"" : "")) />
                                @qualification.Title
                            </div>
                        }
                    }
                }


                <div id="qualificationTree" style="width: 400px; overflow-x: scroll; white-space: nowrap; float: left"></div>
                <br />
                <button id="submitQualifTC" name="submitQualifTC" class="waves-effect waves-light btn">Сохранить</button>

                @section Scripts {
                    <script src="~/Scripts/vacancyTree.js"></script>
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </form>
        </div>

        <div class="text col s5" id="qualificationList"></div>
        <script type="text/javascript">
            $("#submitQualifTC").click(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '/empty/TrainingCours/SetQualifications',
                    type: 'post',
                    data: $( "#qualificationTCForm" ).serialize(),
                    success: function(data){
                        $("#qualificationTCFormDiv").toggle();
                        reloadQualificationsTC();
                    }
                });
            });
            clickQualifLink = function() {
                $("#qualificationTCFormDiv").toggle();
                return 0;
            }
            reloadQualificationsTC = function () {
                $.ajax({
                    url: '/empty/TrainingCours/Qualifications/' + @Model.Id,
                    success: function (data) {
                        var res = "| ";
                        $.map(data, function (item) {
                            res += item + " | ";
                        });
                        $("#qualificationList").html(res);
                        $("#qualificationTCFormDiv").hide();
                    }
                });
            }
            reloadQualificationsTC();
        </script>
        @*</article>
            <article class="pay row">*@
        <h4 class="text col s9">Стоимость курса</h4>
        <div class="text col s9 row">
            <div class="pay-label col s6">для физических лиц</div>
            <div class="pay-label col s6">для организаций</div>
        </div>
        <div class="text col s9 row">
            <div class="pay-col col s3">@Html.DisplayFor(model => model.PriceForIndividuals) рублей  <br>за полный курс</div>
            <div class="pay-col col s3">@Html.DisplayFor(model => model.CostOfOneHourForIndividuals) <br> за час курса</div>
            <div class="pay-col col s3">@Html.DisplayFor(model => model.PriceForOrganizations) рублей <br> за полный курс</div>
            <div class="pay-col col s3">@Html.DisplayFor(model => model.CostOfOneHourForOrganizations) рублей <br> за час курса</div>
        </div>
    </article>

    @helper TeacherList(IEnumerable<TrainingCentersCRM.Models.Teacher> teacher)
{
    <div class="col s12">
        @foreach (TrainingCentersCRM.Models.Teacher t in teacher)
        {
            <div class="col s4">
                @if (t.Image != null)
                {
                    @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(t.Image) + "\" />")
                }
                <h5>@t.LastName @t.FirstName @t.Patronymic</h5>
                <p>@t.Description</p>
            </div>
        }
    </div>
}

    <article class="teachers row">
        <h4>
            Преподаватели
            <a class="waves-effect waves-light" href="#" onclick="javascript: showRelatedTeachers(); return false;"><i class="tiny mdi-content-add-box center"></i></a>
        </h4>
        <div id="dropDownRelatedTeachers" style="display: none"></div>
        @TeacherList(ViewBag.trainingCourseTeacher)
    </article>
    <article class="row">
        <h4>
            Учебная программа
            <a class="waves-effect waves-light" href="@Url.Action("Create", "TrainingModule", new { id = Model.Id })"><i class="tiny mdi-content-add-box center"></i></a>

        </h4>
        <div class="col s10 offset-s1">
            @foreach (var module in Model.CourseModules.OrderBy(a => a.TrainingModule.Numbers))
            {
                <div>
                    <h5>
                        <a href="">@module.TrainingModule.Title</a>
                        <a class="waves-effect waves-light" href="@Url.Action("Edit", "TrainingModule", new { id = module.IdTrainingModule })"><i class="tiny mdi-content-create center"></i></a>
                        <a class="waves-effect waves-light" href="@Url.Action("Delete", "TrainingModule", new { id = module.IdTrainingModule })"><i class="tiny mdi-content-clear center"></i></a>
                    </h5>
                    <p>@module.TrainingModule.ShortDescription</p>
                </div>
            }
        </div>
    </article>
    <article class="teachers row">
        <h4 class="col s12">
            Рекомендуемые курсы
            <a class="waves-effect waves-light" href="#" onclick="javascript: showRelated(); return false;"><i class="tiny mdi-content-add-box center"></i></a>
        </h4>
        <div id="dropDownRelated" style="display: none">
        </div>
        <script type="text/javascript">
            showRelated = function() {
                $.ajax({
                    url: '/empty/TrainingCours/GetAll/@Model.Id',
                    type: 'get',
                    success: function (data) {
                        var res = "<form method='post' name='formRelated' id='formRelated'>";
                        var courseId = 0;
                        $.map(data, function(c){
                            courseId++;
                            res += "<p>";
                            if (c.Checked)
                                res += "<input type='checkbox'  class='filled-in' checked='checked' name='checkedRelated' id='checkedRelated" + courseId + "' value='" + c.Id + "' /><label for='checkedRelated" + courseId + "' class='control-label'>" + c.Title + "</label>";
                            else
                                res += "<input type='checkbox' class='filled-in' name='checkedRelated' id='checkedRelated" + courseId + "' value='" + c.Id + "' /><label for='checkedRelated" + courseId + "' class='control-label'>" + c.Title + "</label>";
                            res += "</p>";
                        });
                        res += "<button id='chooseRelButton' class='btn waves-effect waves-light'>Добавить</button><br /><hr />";
                        res += "</form>";
                        $("#dropDownRelated").html(res);
                        $("#dropDownRelated").toggle();
                        $("#chooseRelButton").click(function(event){
                            event.preventDefault();
                            chooseRelated();
                        });
                    }
                });
                return false;
            }
            chooseRelated = function(id) {
                $.ajax({
                    url: '/empty/TrainingCours/AddRelated/@Model.Id',
                    type: 'post',
                    data: $("#formRelated").serialize(),
                    success: function(data) {
                        location.reload();
                    }
                });
            }
            showRelatedTeachers = function() {
                $.ajax({
                    url: '/empty/TrainingCours/GetAllTeachers/@Model.Id',
                    type: 'get',
                    success: function (data) {
                        var res = "<form method='post' name='formRelatedTeachers' id='formRelatedTeachers'>";
                        var teacherId = 0;
                        $.map(data, function(c){
                            teacherId++;
                            res += "<p>";
                            if (c.Checked)
                                res += "<input type='checkbox' checked='checked' name='checkedRelatedTeacher' id='checkedRelatedTeacher" + teacherId + "' class='filled-in'  value='" + c.Id + "' /><label for='checkedRelatedTeacher" + teacherId + "' class='control-label'>" + c.Title + "</label>";
                            else
                                res += "<input type='checkbox' name='checkedRelatedTeacher' id='checkedRelatedTeacher" + teacherId + "' class='filled-in' value='" + c.Id + "' /><label for='checkedRelatedTeacher" + teacherId + "' class='control-label'>" + c.Title + "</label>";
                            res += "</p>";
                        });
                        res += "<button id='chooseRelTeacherButton' class='btn waves-effect waves-light'>Сохранить</button><br /><hr />";
                        res += "</form>";
                        $("#dropDownRelatedTeachers").html(res);
                        $("#dropDownRelatedTeachers").toggle();
                        $("#chooseRelTeacherButton").click(function(event){
                            event.preventDefault();
                            chooseRelatedTeacher();
                        });
                    }
                });
                return false;
            }
            chooseRelatedTeacher = function(id) {
                $.ajax({
                    url: '/empty/TrainingCours/AddRelatedTeacher/@Model.Id',
                    type: 'post',
                    data: $("#formRelatedTeachers").serialize(),
                    success: function(data) {
                        location.reload();
                    }
                });
            }
        </script>
        @{
            int j = 1;
        }
        @foreach (var item in Model.RelatedCourses)
        {
            <div class="col s4 m4">
                <img src="https://placeimg.com/628/471/tech/@(j++)" alt="">
                <h5>@item.TrainingCours1.Title</h5>
                <p>
                    @if (item.TrainingCours1.ShortDescription.Length > 300)
                    {
                        @Html.Raw(item.TrainingCours1.ShortDescription.Substring(0, 300))
                        <text>...</text>
                    }
                    else
                    {
                        @Html.Raw(item.TrainingCours1.ShortDescription)
                    }
                </p>
                <a href="/@(TCHelper.GetCurrentTc().Url)/TrainingCours/Details/@item.TrainingCours.Id">Подробнее</a>
            </div>
        }
    </article>
</article>