@model IEnumerable<TrainingCentersCRM.Models.TrainingCours>

@{
    ViewBag.Title = "Index";
}
<div class="my-container">
    <script type="text/javascript">
        $(document).ready(function () {
            var rows = "";
            var titles = ["QA тестирование", "Основы разработки", "Алгоритмы",
                          "Схемотехника", "ОБЖ", "Физика", "Квантовая механика",
                          "Я познаю мир"];
            for (var i = 0; i < 6; i++) {
                var row = '<div class="row">';
                for (var j = 0; j < 4; j++) {
                    $("#article-template h5.title").text(titles[(i * 4) + j]);
                    row += $("#article-template").html();
                }
                row += '</div>';
                rows += row;
            }
            $("#articles").html(rows);
            $(".random-image").each(function (k, v) { var a = $(v).attr("src"); $(v).attr("src", a + "?" + Math.random()) })
        });
    </script>
    <h2>Список курсов УлГТУ</h2>
    <div id="articles"> </div>

    <div style="display:none" id="article-template">
        <div class="col s3">
            <img src="https://placeimg.com/260/260/tech" class="random-image" alt="" />
            <h5 class="title"> QA тестирование </h5>
            <p> Интересно, познавательно и увлекательно </p>
            <br>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceForOrganizations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceForIndividuals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostOfOneHourForOrganizations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostOfOneHourForIndividuals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelOfDifficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredPreliminaryPreparation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MandatoryPreliminaryPreparation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTraningCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdObject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hourse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceForOrganizations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceForIndividuals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostOfOneHourForOrganizations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostOfOneHourForIndividuals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LevelOfDifficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiredPreliminaryPreparation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MandatoryPreliminaryPreparation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTraningCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdObject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
