@model IEnumerable<TrainingCentersCRM.Models.TrainingCours>

@{
    ViewBag.Title = "Курсы учебного центра";
}
<h2>Список курсов</h2>
<div class="row">
    <a class="  waves-effect waves-light btn right" href="@Url.Action("Create", "TrainingCours")"><i class="mdi-content-add-box left"></i>Создать новый курс</a>
</div>
@if (Model.Count() > 0)
{
    <div id="articles" class="row">
        @{int i = 1;}
        @foreach (var item in Model)
        {
            <div id="article-template">
                <div class="col s4">
                    <a class="waves-effect waves-light btn btn-small" href="@Url.Action("Edit", "TrainingCours", new { id = item.Id })"><i class="mdi-content-create center"></i></a>
                    <a class="waves-effect waves-light btn btn-small" href="@Url.Action("Delete", "TrainingCours", new { id = item.Id })"><i class="mdi-content-clear center"></i></a>
                    <div class="card">
                        <div class="card-image">
                            <a href="@Url.Action("Details", "TrainingCours", new { id = item.Id })">
                                <img src="https://placeimg.com/300/300/tech/@(i++)" class="responsive-img" alt="" />
                                <span class="card-title">@Html.DisplayFor(modelItem => item.Title)</span>
                            </a>
                        </div>
                        <div class="card-content">
                            @if (item.ShortDescription.Length > 300)
                            {
                                @Html.Raw(item.ShortDescription.Substring(0, 300))
                                <text>...</text>
                            }
                            else
                            {
                                @Html.Raw(item.ShortDescription)
                            }

                        </div>
                    </div>
                    <br>
                </div>
            </div>
        }
    </div>
}

@Html.Action("Index", "Moodle", new { key = ViewBag.Key })
