@model TrainingCentersCRM.Models.Article

@{
    ViewBag.Title = Model.Title;
}
<div class="container row">
    <h2>@Model.Title</h2>
    @if (RolesHelper.IsUserHasPermissionForTc("admin"))
    {
        <a>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "button" })
        </a>
    }

    <label>Опубликовано: @Model.PublishDate</label><br />
    <div class="row">
        <div class="large-3 small-6 columns">
            <div class="overlay-container">
                @if (Model.Image != null)
                {
                    <img src="/empty/Articles/Image/@Model.Id" class="detailsImage" />
                }
            </div>
        </div>
        <div style="padding-left: 15px">@(Model.Annotation)</div>
    </div>
    <br />
    <div>
        @(Html.Raw(HttpUtility.HtmlDecode(Model.Text)))
    </div>
    @Html.Action("Index", "FileDocs", new { key = Model.Id })

</div>