@model TrainingCentersCRM.Models.Article

@{
    ViewBag.Title = Model.Title;
}
<div class="container row">
    <h2>@Model.Title</h2>
    @if (RolesHelper.IsUserHasPermissionForTc("admin"))
    {
        <a>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "button" })
        </a>
    }

    <label>Опубликовано: @Model.PublishDate</label><br />
    <div class="row">
        <div class="overlay-container">
                @if (Model.Image != null)
                {
                    <img src="/empty/Articles/Image/@Model.Id" class="detailsImage" />
                }
        </div>
        <p class="ArticleAnnotation">@(Model.Annotation)</p>
    </div>
    <br />
    <br />
    <div style="text-align: justify" id="ArticleContent">
        @(Html.Raw(HttpUtility.HtmlDecode(Model.Text)))
    </div>
    <div id="FotoGallery" class="fotorama" data-nav="thumbs">
    </div>
    <script type="text/javascript">
        var images = $('#ArticleContent img').map(function () {
            return $(this);
        }).get();
        $.map(images, function (val, i) {
            $(".fotorama").append("<a href='" + val.attr('src') + "'><img src='" + val.attr('src') + "' alt='" + val.attr('alt') + "' /></a>");
        });
        $('#ArticleContent img').remove();
        $(function () {
            $('.fotorama').fotorama();
        });
    </script>
    @Html.Action("Index", "FileDocs", new { key = Model.Id })

</div>