@model TrainingCentersCRM.Models.Article

@{
    ViewBag.Title = Model.Title;
}
<article>
    <h2>@Model.Title</h2>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "waves-effect waves-light btn right" })
    </p>

    <div>
        <label>Опубликовано: @Model.PublishDate</label>
        <p>
            @(Html.Raw(HttpUtility.HtmlDecode(Model.Annotation)))
        </p>
        <p>
            @(Html.Raw(HttpUtility.HtmlDecode(Model.Text)))
        </p>
    </div>
</article>