@model TrainingCentersCRM.Models.Article

@{
    ViewBag.Title = Model.Title;
}
<div class="container row">
    <article>
        <h2>@Model.Title</h2>
        <a>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "button" })
        </a>

        <div>
            <label>Опубликовано: @Model.PublishDate</label>
            <p>
                @(Html.Raw(HttpUtility.HtmlDecode(Model.Annotation)))
            </p>
            <p>
                @(Html.Raw(HttpUtility.HtmlDecode(Model.Text)))
            </p>
        </div>
    </article>
</div>