@model TrainingCentersCRM.Models.Article

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    <label>Опубликовано: @Model.PublishDate</label>
    <p>
        @(Html.Raw(HttpUtility.HtmlDecode(Model.Annotation)))
    </p>
    <p>
        @(Html.Raw(HttpUtility.HtmlDecode(Model.Text)))
    </p>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id })
</p>
