@model TrainingCentersCRM.Models.Article

@{
    ViewBag.Title = Model.Title;
}
<div class="container row">
    <article>
        <h2>@Model.Title</h2>
        <a>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "button" })
        </a>

        <div>
            <label>Опубликовано: @Model.PublishDate</label>
            <p>
                @if (Model.Image != null)
                { 
                    <img src="/empty/Articles/Image/@Model.Id" class="detailsImage" />
                }
                @(Html.Raw(HttpUtility.HtmlDecode(Model.Annotation)))
            </p>
            <p>
                @(Html.Raw(HttpUtility.HtmlDecode(Model.Text)))
            </p>
            @Html.Action("Index", "FileDocs", new { key = Model.Id })
        </div>
    </article>
</div>