@model IEnumerable<TrainingCentersCRM.Models.Article>

@{
    ViewBag.Title = "Список материалов сайта";
}

@if (ViewBag.Type == 1)
{
    <h2>Новости</h2>
}
else
{
    <h2>Статьи</h2>
}

<p>
    @Html.ActionLink("Добавить", "Create", new { type = ViewBag.Type }, new { @class = "waves-effect waves-light btn right mdi-content-add-box" })
</p>

@foreach (var item in Model)
{
    <div class="card-panel">
        <h4>
            @Html.DisplayFor(modelItem => item.Title)
        </h4>
        <label>Опубликовано: @(Html.DisplayFor(modelItem => item.PublishDate))</label>
        <p>@(Html.Raw(HttpUtility.HtmlDecode(item.Annotation)))</p>
        <div>
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "mdi-image-edit", @title = "Редактировать" })
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "mdi-image-details", @title = "Подробнее" })
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "mdi-content-remove-circle", @title = "Удалить" })
        </div>
    </div>
}
