@model PagedList.IPagedList<TrainingCentersCRM.Models.Article>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Список материалов сайта";
}
<div class="container">
    @if (ViewBag.Type == 1)
    {
        <h3 class="center">Новости</h3>
        <a class="button" href="@Url.Action("Create", "Articles", new { type = ViewBag.Type })">
            <i class="fa fa-plus"></i>Добавить новость
        </a>
    }
    else
    {
        <h3 class="center">Страницы</h3>
        <a class="button" href="@Url.Action("Create", "Articles", new { type = ViewBag.Type })">
            <i class="fa fa-plus"></i>Добавить страницу
        </a>
    }
</div>

<div class="clear-fix container">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
        @{int i = 1;}
        @foreach (var item in Model)
        {
            <li>
                <div class="news-block">
                    <div class="row tools">

                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button fa fa-pencil", @title = "Редактировать" })
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button fa fa-chevron-circle-down", @title = "Подробнее" })
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "button fa fa-trash-o", @title = "Удалить" })
                    </div>
                    <span class="date">@(Html.DisplayFor(modelItem => item.PublishDate))</span>
                    <img src="https://placeimg.com/300/300/tech/@(i++)" runat="server" />
                    <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p>@(Html.Raw(item.Annotation))</p>
                </div>
            </li>
        }
    </ul>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
