@model IEnumerable<TrainingCentersCRM.Models.Article>

@{
    ViewBag.Title = "Список материалов сайта";
}

@if (ViewBag.Type == 1)
{
    <h3 class="center">Новости</h3>
}
else
{
    <h3 class="center">Статьи</h3>
}

<article>
    <p>
        @Html.ActionLink("Добавить новость", "Create", new { type = 1 }, new { @class = "waves-effect waves-light btn right mdi-content-add-box" })
        @Html.ActionLink("Добавить статью", "Create", new { type = 2 }, new { @class = "waves-effect waves-light btn right mdi-content-add-box" })
    </p>

    @foreach (var item in Model)
    {
        <div class="card-panel">
            <h4>
                @Html.DisplayFor(modelItem => item.Title)
            </h4>
            <label>Опубликовано: @(Html.DisplayFor(modelItem => item.PublishDate))</label>
            <p>@(Html.Raw(item.Annotation))</p>
            <div>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "mdi-image-edit", @title = "Редактировать" })
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "mdi-image-details", @title = "Подробнее" })
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "mdi-content-remove-circle", @title = "Удалить" })
            </div>
        </div>
    }
</article>