@model TrainingCentersCRM.Models.Qualification

@{
    ViewBag.Title = "Delete";
}

<<<<<<< HEAD
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Qualification</h4>
=======
<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
>>>>>>> 77e7434ea7678d938336fcb397236ab4ac0ef878
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

<<<<<<< HEAD
        <dt>
=======
        <!--dt>
>>>>>>> 77e7434ea7678d938336fcb397236ab4ac0ef878
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
<<<<<<< HEAD
        </dd>
=======
        </dd-->
>>>>>>> 77e7434ea7678d938336fcb397236ab4ac0ef878

    </dl>

    @using (Ajax.BeginForm("Delete", new AjaxOptions { UpdateTargetId = "qualificationData", OnSuccess = "(function(){selectQualification(" + Model.ParentId + "); refreshTree(); })()" }))
    { 
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
<<<<<<< HEAD
            <input type="submit" value="Delete" class="btn btn-default" /> 
=======
            <input type="submit" value="Удалить" class="btn btn-default" /> 
>>>>>>> 77e7434ea7678d938336fcb397236ab4ac0ef878
        </div>
    }
</div>
