@model TrainingCentersCRM.Models.Qualification
@using TrainingCentersCRM.Infrastructure;

@{
    ViewBag.Title = "О квалификации";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadHunterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadHunterName)
            
            <div class="headhunter">
                @Html.HeadHunterWidget(@Model.HeadHunterKeys, @Model.HeadHunterId)
                <style>
                    div.headhunter > div, div.headhunter > div:hover {
                        max-width: 300px !important;/* стили для блока */
                    }
                </style>
            </div>
            <!-- NOTE скрипт ниже нужен только для админки, или в местах, где всё подгружается аяксом(пробовать сперва без него!) -->
            <script type="text/javascript"> delete window.hhScriptCounter </script>

</dd>

    </dl>
</div>

