@model TrainingCentersCRM.Models.ScheduleTtrainingCours

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Детали</h2>
    <div>
        <h4>Расписание учебных курсов</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateStart)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateEnd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateEnd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrainingCenter.Addres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrainingCenter.Addres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrainingCours.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrainingCours.Title)
            </dd>

        </dl>
    </div>
    <p>
        @if (RolesHelper.IsUserHasPermissionForTc("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
        <span>|</span>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>