@model IEnumerable<TrainingCentersCRM.Models.ScheduleTtrainingCours>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Расписание</h2>
    @if (RolesHelper.IsUserHasPermissionForTc("admin"))
    {
        <p>
            @Html.ActionLink("Добавить курс", "Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingCenter.Addres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingCours.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingCenter.Addres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingCours.Title)
                </td>
                <td>
                    @if (RolesHelper.IsUserHasPermissionForTc("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
</div>