@model IEnumerable<TrainingCentersCRM.Models.Certification>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (RolesHelper.IsUserHasPermissionForTc("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificationProvider.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificationProvider.Title)
            </td>
            <td>
                @if (RolesHelper.IsUserHasPermissionForTc("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
