@{
    ViewBag.Title = "";
}

@Html.Action("Slider", "Advertizes", null)
<section class="landing-plus clear-fix">
    <div class="plus-item it-member"> <h6>IT специалистам</h6> <p class="description">Вы хотите <a href="/empty/Articles/Details/2">приобрести</a> новую квалификацию?</p></div>
    <div class="plus-item it-company"><h6>IT компаниям</h6><p class="description">Хотите <a href="/empty/TrainingCours/Index">обучить</a> сових сотрудников?</p></div>
    <div class="plus-item it-center"><h6>Учебным заведениям</h6><p class="description">Хотите <a href="/empty/Articles/Details/10">открыть</a> собственный центр?</p></div>
</section>
<div class="clear-fix">
    <article class="about-us">
        <h2>О проекте</h2>
        <p class="text-justify">
            В России запустилась сеть центров профессионального ИКТ-образования в рамках совместного европейского проекта "EQF-based professional ICT training for Russia and Kazakhstan".<br /><br />
            На этом сайте Вы можете ознакомиться с материалами проекта и записаться на профессиональные курсы ИКТ.<br /><br />
            Учебные курсы в центрах основаны на европейской рамке квалификаций EQF, что обеспечивает международное качество ИКТ-образования.<br />  <br />
            Партнерами по проекту являются ведущие ИТ-компании России, обеспечивая контроль качества образовательных материалов, рабочих программ и рамок квалификаций.
        </p>
    </article>
    <aside class="landing-feature">
        <section class="feature-item"><span class="number">@ViewBag.teachers</span><span class="content">преподавателей</span></section>
        <section class="feature-item"><span class="number">@ViewBag.centers</span><span class="content">учебных заведений</span></section>
        <section class="feature-item"><span class="number">@ViewBag.courses</span><span class="content">качественных курсов</span></section>
    </aside>
</div>

@Html.Action("Index", "Articles", new { id = 1, partial = true, top = 4 })

<div class="row clear-fix container ">
    <div class="column large-6 small-12">
        <h3 class="center">Учебные центры</h3>
        @Html.Action("ShortList", "TrainingCenter")
    </div>
    <div class="column large-6 small-12">
        <h3 class="center">Курсы</h3>
        @Html.Action("ShortList", "TrainingCours")
    </div>
</div>

<script>
$( document ).ready(function() {
    $('.orbit-content').show();
    $(".accordion").on("click", "li", function (event) {
        $("dd.active").find(".content").slideToggle("fast");
        $(this).find(".content").slideToggle("fast");
    });
    $('.landing-plus').show();

});
</script>