@using TrainingCentersCRM.Infrastructure

@{
    ViewBag.Title = "Страница учебного центра";
}
@if (ViewBag.TrainingCenter != null)
{
    <article class="container row ">
        <h2>
            @ViewBag.TrainingCenter.Organization
        </h2>
        <div class="col s6">

            <h5>Описание</h5>
            <p>@ViewBag.TrainingCenter.Description</p>
            <p>
                <dl class="dl-horizontal">
                    <dt>
                        Адрес:
                    </dt>
                    <dd>
                        @ViewBag.TrainingCenter.Addres
                    </dd>
                    <dt>
                        Телефон:
                    </dt>
                    <dd>
                        @ViewBag.TrainingCenter.Phone
                    </dd>
                    <dt>
                        Email:
                    </dt>
                    <dd>
                        @ViewBag.TrainingCenter.Email
                    </dd>
                </dl>
            </p>
        </div>
        <img src="/img/P1010871.jpg" alt="" class="offset-s2 col s4 responsive-img">
    </article>
}
else
{
    <article class="container row ">
        <!--Здесь только статика-->
        <h2>
            О проекте
        </h2>
        <div class="col s6">
            <p>
                Совместный европейский проект EQF-based professional ICT training for Russia and Kazakhstan
                Сроки проекта:  1 декабря 2013 года – 30 ноября 2016 года. <br>

                Координатор :университетский колледж Гента (Бельгия) <br>

                В рамках проекта планируется стажировка российских и казахских студентов, прошедших обучение в учебных центрах компьютерного образования, в европейских ИКТ-компаниях <br> <br>
            </p>

            <h5>Цель проекта</h5>
            <p>
                Разработать рамку ИКТ-квалификаций для РФ и Казахстана, основанную на европейских подходах
                Создать систему профессионального ИКТ-образования, основанную на европейских механизмах контроля качества
                Создать сеть учебных центров компьютерного образования в РФ и Казахстане
                Диссеминация результатов, полученных в ходе выполнения проекта, среди российских и казахских вузов
            </p>
        </div>
        <img src="/img/P1010871.jpg" alt="" class="offset-s2 col s4 responsive-img">
    </article>
}
