@using TrainingCentersCRM.Infrastructure

@{
    ViewBag.Title = "Страница учебного центра";
}
<article class="container row ">
    <h2>
        @ViewBag.TrainingCenter.Organization
    </h2>
    <div class="col s6">

        <p>@Html.Raw(ViewBag.TrainingCenter.Description)</p>
        <p>
            <dl class="dl-horizontal">
                <dt>
                    Адрес:
                </dt>
                <dd>
                    @ViewBag.TrainingCenter.Addres
                </dd>
                <dt>
                    Телефон:
                </dt>
                <dd>
                    @ViewBag.TrainingCenter.Phone
                </dd>
                <dt>
                    Email:
                </dt>
                <dd>
                    @ViewBag.TrainingCenter.Email
                </dd>
            </dl>
        </p>
    </div>
</article>
