@using TrainingCentersCRM.Models;
@using Microsoft.AspNet.Identity;
@{
<<<<<<< HEAD
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
=======
    ViewBag.Title = "Смена пароля";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title.</h2>

            <p class="text-success">@ViewBag.StatusMessage</p>
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }

            <section id="externalLogins">
                @Html.Action("RemoveAccountList")
            </section>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>
>>>>>>> 77e7434ea7678d938336fcb397236ab4ac0ef878
