@model TrainingCentersCRM.Models.Vacancy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacancy</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additionally)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additionally)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
