@model IEnumerable<TrainingCentersCRM.Models.Vacancy>
@using TrainingCentersCRM.Infrastructure;

@{
    ViewBag.Title = "Вакансии";
}

<script>
    var tcHHId = '@TCHelper.GetCurrentTc().HHCityId';
    var url = '';
    if (tcHHId == '' || tcHHId == 'empty')
        url = "https://api.hh.ru/vacancies?specialization=1&salary=30000&only_with_salary=true";
    else
        url = "https://api.hh.ru/vacancies?specialization=1&salary=30000&only_with_salary=true&area=" + tcHHId;
    $.getJSON(url).done(function (msg) {
        var items = msg.items;
        for (var i = 0; i < items.length; i++) {
            $.getJSON("https://api.hh.ru/vacancies/" + items[i].id).done(function (item) {
                var content = "";
                var tmpl = $("#template");
                tmpl.find("h5.title").text(item.name)
                tmpl.find(".description").html(item.description)
                tmpl.find(".salary").text(item.salary.from)
                tmpl.find(".city").text(item.area.name)
                tmpl.find(".company").text(item.employer.name)
                tmpl.find(".link").attr("href", item.alternate_url)
                content += tmpl.html();
                $("#jobs").append(content);
            });
        }
    })
</script>
<div class="container row">
    @if (RolesHelper.IsUserHasPermissionForTc("admin"))
    {
        <a>
            @Html.ActionLink("Добавить вакансию", "Create", null, new { @class = "button" })
        </a>
    }
    @if (Model.Count() > 0)
    {
        <text>
            <h3>Вакансии учебного центра</h3>
        </text>
        foreach (var item in Model)
        {
            <div class="card-panel">
                <section class="tools no-margin">
                    @if (RolesHelper.IsUserHasPermissionForTc("admin"))
                    {
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "button fa fa-pencil", @title = "Редактировать" })
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "button fa fa-chevron-circle-down", @title = "Подробнее" })
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "button fa fa-trash-o", @title = "Удалить" })
                    }
                </section>
                <h5>
                    <a href="@Url.Action("Details", "Vacancy", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Description)</a>
                </h5>
                <p>
                    @Html.DisplayFor(modelItem => item.Organization)
                </p>
                <p>
                    Заработная плата: @Html.DisplayFor(modelItem => item.Wages)
                </p>
            </div>
        }

    }
    <hr />
    <h3>Вакансии HeadHunter</h3>
    <div id="jobs"></div>
    <div id="template" style="display: none;">
        <div class="column small-6 job">
            <h5 class="title"> My job </h5>
            <div><span class="ligth-text"> Компания: </span> <span class="company">Dsf</span> </div>
            <div class="salary-wrap"><span class="ligth-text"> Заработная плата: </span> от <span class="salary">1000000</span> </div>
            <div><span class="ligth-text"> Город: </span> <span class="city">Ekmdzf</span> </div>
            <p class="ligth-text">Описание:</p>
            <div class="description">sdfsdfsdfvvgrvvd</div>
            <a href="#" class="link" target="_blank"> Посмотреть на HH </a>
            <hr />
            <br />
        </div>
    </div>
</div>
