@model TrainingCentersCRM.Models.TrainingCenter

@{
    ViewBag.Title = Model.Organization;
}
<div class="container">
    <div>
        <h4>@Model.Organization</h4>
        <hr />
        <div class="row">

            @if (Model.Logo != null)
            {
                <div class="small-12 large-6 columns">
                    <img data-interchange="[/empty/TrainingCenter/Image/@Model.Id, (default)]" class="main-image" />
                </div>
            }
            <div class="small-12 large-6 columns left" style="text-align: justify">
                @Html.Raw(Model.Description)
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="details">
                <label>
                    @Html.DisplayNameFor(model => model.Addres)
                </label>
                @Html.DisplayFor(model => model.Addres)
            </div>


            <div class="details">
                <label>
                    @Html.DisplayNameFor(model => model.Phone)
                </label>
                @Html.DisplayFor(model => model.Phone)
            </div>


            <div class="details">
                <label>
                    @Html.DisplayNameFor(model => model.Email)
                </label>
                @Html.DisplayFor(model => model.Email)
            </div>

            <div class="details">
                <label>
                    @Html.DisplayNameFor(model => model.Organization)
                </label>
                @Html.DisplayFor(model => model.Organization)
            </div>
        </div>
    </div>
</div>