@model TrainingCentersCRM.Models.TrainingCenter

@{
    ViewBag.Title = Model.Organization;
}
<br />
<div class="row">
    <div>
        @if (RolesHelper.IsUserHasPermissionForTc("admin"))
        {
            <a href="@Url.Action("Edit", "TrainingCenter", new { id = Model.Id })"><i class="fa fa-pencil"></i>Редактировать информацию о центре</a>
        }

        <br />
        <div class="row">

            @if (Model.Logo != null)
            {
                <div class="small-3 columns">
                    <img data-interchange="[/empty/TrainingCenter/Image/@Model.Id, (default)]" class="main-image" />
                </div>
            }
            <div class="small-9 columns left" style="text-align: justify">
                <h4>@Model.Organization</h4>
                <div class="description">
                    @Html.Raw(Model.Description)
                </div>
                <br />
                <b>
                    @Html.DisplayNameFor(model => model.Organization):
                </b>
                @Html.DisplayFor(model => model.Organization)
                <br />

                <b>
                    @Html.DisplayNameFor(model => model.Addres):
                </b>
                @Html.DisplayFor(model => model.Addres)
                <br />


                <b>
                    @Html.DisplayNameFor(model => model.Phone):
                </b>
                @Html.DisplayFor(model => model.Phone)
                <br />

                <b>
                    @Html.DisplayNameFor(model => model.Email):
                </b>
                @Html.DisplayFor(model => model.Email)

            </div>
        </div>
    </div>
</div>