@model IEnumerable<TrainingCentersCRM.Models.TrainingCenter>

@{
    ViewBag.Title = "Index";
}

<article class="container row">
    <h2>Об Ульяновском  Государствнном Техническом Университете</h2>
    <div class="col s6">
        <p>
            Ульяновский государственный технический университет (до 1994 года – Политехнический институт, основанный в 1957 году) – это: <br> <br>
            более 14 000 студентов различных форм обучения; <br>
            подготовка специалистов на 52 кафедрах по 33 направлениям и 48 специальностям; <br>
            более 500 преподавателей, из них – 42 профессора доктора наук, около 250 доцентов кандидатов наук, более 50 членов и членов корреспондентов отраслевых академий; <br>
            опыт восьми лет участия в централизованном тестировании; <br>
            около 1000 ПЭВМ, более 600 компьютеров в корпоративной сети с доступом к Интернет, 54 дисплейных класса; <br>
            крупнейшая в городе вузовская библиотека, в которой около 1 200 000 книг, журналов, электронных изданий, видеоматериалов и других информационных источников; <br>
            разработки ученых, награжденных на Всемирных салонах изобретений в Париже и Брюсселе; <br>
            84 здания и сооружения, в том числе 8 учебных корпусов, 6 общежитий, 7 многоэтажных жилых домов, столовые, профилакторий, спортивно-оздоровительный лагерь. <br>
            Совместный европейский проект EQF-based professional ICT training for Russia and Kazakhstan
            Сроки проекта:  1 декабря 2013 года – 30 ноября 2016 года. <br>
        </p>
    </div>
    <img src="http://coe.ulstu.ru/userfiles/image/4.JPG" alt="" class="offset-s2 col s4 responsive-img">
</article>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Addres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Addres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
