@model IEnumerable<TrainingCentersCRM.Models.TrainingCenter>
@{
    Layout = null;
}
<ul class="accordion" data-accordion>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <li class="accordion-navigation">
            <a href="#panel@(i)"><i class="fa fa-university"></i>@Html.DisplayFor(modelItem => item.Organization)</a>
            <div id="panel@(i++)" class="content">
                <label>Адрес: </label>
                @Html.DisplayFor(modelItem => item.Addres)
                <br /><br />
                <label>
                    Телефон:
                </label>
                @Html.DisplayFor(modelItem => item.Phone)
                <br /><br />
                <label>
                    e-mail:
                </label>
                @Html.DisplayFor(modelItem => item.Email)
                <br /><br />
                @TrainingCentersCRM.Infrastructure.TCHelper.TruncateString(Html.Raw(item.Description).ToHtmlString())
                <br />
                <a href="/@item.Url/TrainingCenter/Details/@item.Id">Подробнее...</a>
            </div>
        </li>
    }
</ul>