<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Портал сети центров обучения в области ИКТ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        
        <div class="row">
            <div class="col logo s2">
                <a href="/"><img src="/img/tempus.jpg" class="responsive-img" alt=""></a>
            </div>
            <div class="col s6">
                <h5>Портал сети центров обучения в области ИКТ</h5>
                <p>
                    Учебные курсы, основанные на европейской рамке квалификаций<br />
                    Профессиональное ИКТ-образование для РФ и Казахстана
                </p>
            </div>
        </div>
        <nav class="row">
            <ul id="dropdown1" class="dropdown-content"></ul>
            <ul id="dropdown2" class="dropdown-content" style="height:auto !important">
                <li><a href="">Клиенты</a></li>
                <li><a href="">Справочные материалы</a></li>
                <li><a href="#">Управление пользователями</a></li>
                <li><a href="#">Статистика</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Конфигурация сайта</a></li>
            </ul>
                <ul id="nav-mobile" class="left side-nav">
                    <li>@Html.ActionLink("О проекте", "Index", "Home")</li>
                    <li><a href="">Новости</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Учебные центры<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                    <li><a href="">Статистика</a></li>
                    <li>@Html.ActionLink("Сертификация", "Index", "Certification")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Feedback")</li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Административная панель<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
        </nav>
    </header>
    <script type="text/javascript">
        //for choose training center
        $(document).ready(function () {
            $(".dropdown-button").dropdown({ hover: false });
        });
        $.ajax({
            url: '/empty/TrainingCenter/Centers',
            success: function (data) {
                data.map(function (item) {
                    arr = location.pathname.split('/');
                    $('#dropdown1').append('<li><a href="/' + item.Url + '">' + item.Organization + '</a></li>');
                });
            },
            error: function (data) {
                alert('Error loading centers info');
            }
        });
    </script>
    <div class="container" id="main-container">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="row">
            <div class="col offset-l1 l4 s12">
                <h5 class="white-text">Контакты</h5>
                <p class="white-text text-lighten-4">
                    email: contact@simcase.ru<br>
                    тел: +7 (905) 348 3966<br>
                    site http://pictet.simcase.ru
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="white-text" href="#!">О проекте</a></li>
                    <li><a class="white-text" href="#!">Новости</a></li>
                    <li><a class="white-text" href="#!">Статистика</a></li>
                    <li><a class="white-text" href="#!">Сертификация</a></li>
                    <ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2015 PICTET TEMPUS
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jstree")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
