<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Портал сети центров обучения в области ИКТ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="wrap-body">
        <header class="clear-fix">
            <div class="logo"><a href="/">Tempus <br />Pictet</a></div>
            <nav class="clear-fix">
                @MyHelpers.Menu()
            </nav>
        </header>
        <div>
            @RenderBody()
        </div>
    </div>
    <footer></footer>

    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/date-picker")
    <script type="text/javascript">
        $('.navigation').append('<li class="right"><a href="/empty/Account/Login" id="loginLink">Войти</a><li>');
        $(document).foundation();
    </script>
    @Scripts.Render("~/bundles/jstree")
    @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
