<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="row">
            <div class="col logo s2">
                <a href=""><img src="/img/tempus.jpg" class="responsive-img" alt=""></a>
            </div>
            <div class="col s6">
                <h5>Совместный европейский проект</h5>
                <p>
                    Основанный на европейской рамке квалфикаций
                    профессиональное ИКТ-образование для РФ и Казахстана
                </p>
            </div>
        </div>
        <div class="row">
            <ul id="dropdown2" class="dropdown-content" style="height:auto !important">
                <li><a href="">Клиенты</a></li>
                <li><a href="">Справочные материалы</a></li>
                <li><a href="#">Управление пользователями</a></li>
                <li><a href="#">Статистика</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Конфигурация сайта</a></li>
            </ul>
            <nav>
                <div class="row">
                    <ul id="nav-mobile" class="left side-nav">
                        <li class="center-name"></li>
                        <li>@Html.ActionLink("Об учебном центре", "Index", "TrainingCenter")</li>
                        <li>@Html.ActionLink("Курсы", "Index", "TrainingCours")</li>
                        <li>@Html.ActionLink("Преподователи", "Index", "")</li>
                        <li><a href="">Новости </a></li>
                        <li>@Html.ActionLink("Квалификации", "Index", "Qualification")</li>
                        <li>@Html.ActionLink("Вакансии", "Index", "Vacancy")</li>
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Административная панель<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <script type="text/javascript">
        //for choose training center
        $(document).ready(function () {
            $(".dropdown-button").dropdown({ hover: false });
        });
        $.ajax({
            url: '/ulstu/TrainingCenter/Centers',
            success: function (data) {
                var current_url= location.pathname.split('/')[1];
                data.map(function (item) {
                    if (current_url === item.Url) {
                        $(".center-name").text(item.Organization);
                    }
                });
            },
            error: function (data) {
                alert('Error loading centers info');
            }
        });
    </script>
    <div class="container" id="main-container">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="row">
            <div class="col offset-l1 l4 s12">
                <h5 class="white-text">Контакты</h5>
                <p class="white-text text-lighten-4">
                    email: sdfjlskdfjs@mail.com <br>
                    тел: +7 (927) 817 34 42 <br>
                    site www.somesite.com
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="white-text" href="#!">О проекте</a></li>
                    <li><a class="white-text" href="#!">Новости</a></li>
                    <li><a class="white-text" href="#!">Статистика</a></li>
                    <li><a class="white-text" href="#!">Сертификация</a></li>
                    <ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2015 Copyright Text
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jstree")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
