@model TrainingCentersCRM.Models.TrainingModule

@{
    ViewBag.Title = "Редактирование";
}
<div class="container">
    <h2>Редактирование</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Учебный модуль</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ShortDescription, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShortDescription)
                    @Html.ValidationMessageFor(model => model.ShortDescription)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Numbers, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Numbers)
                    @Html.ValidationMessageFor(model => model.Numbers)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hours, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hours)
                    @Html.ValidationMessageFor(model => model.Hours)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Topics, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Topics)
                    @Html.ValidationMessageFor(model => model.Topics)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdTrainingCenter, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdTrainingCenter)
                    @Html.ValidationMessageFor(model => model.IdTrainingCenter)
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
                 <a href='@Url.Action("Index")'>
                    <i class="fa fa-angle-left"></i> Вернуться
                </a>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>