@model IEnumerable<TrainingCentersCRM.Models.Menu>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="/Content/module.css">

<h2>Редактор меню</h2>

<p>
    @Html.ActionLink("Создать пункт меню", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotBindInTrainingCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTrainingCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ord_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotBindInTrainingCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTrainingCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ord_Id)
        </td>
        <td>
            @Html.ActionLink("Править", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
