@model IEnumerable<TrainingCentersCRM.Models.Teacher>

@{
    ViewBag.Title = "Преподаватели";
}
<link rel="stylesheet" href="/Content/module.css">

<h2>Преподаватели учебного центра</h2>

<div class="content">
    <div class="row">
        @Html.ActionLink("Добавить", "Create", null, new { @class = "waves-effect waves-light btn right" })
    </div>
    <div class="row">
        @foreach (TrainingCentersCRM.Models.Teacher t in Model)
        {
            <div class="col s12 m6 l6">
                <div class="card large">
                    <div class="card-image">
                        @if (t.Image != null)
                        {
                            @Html.Raw("<img src='/empty/Teachers/Image/" + t.Id + "'/>")
                        }
                        <span class="card-title">@t.LastName @t.FirstName @t.Patronymic</span>
                    </div>
                    <div class="card-content">
                        @t.Description
                    </div>
                    <div class="card-action">
                        @Html.ActionLink(" ", "Edit", new { id = t.Id }, new { @class = "mdi-image-edit", @title = "Редактировать" })
                        @Html.ActionLink(" ", "Details", new { id = t.Id }, new { @class = "mdi-image-details", @title = "Подробнее" })
                        @Html.ActionLink(" ", "Delete", new { id = t.Id }, new { @class = "mdi-content-remove-circle", @title = "Удалить" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>