@model IEnumerable<TrainingCentersCRM.Models.Teacher>

@{
    ViewBag.Title = "Преподаватели";
}
<link rel="stylesheet" href="/Content/module.css">
<div class="container">
    <h2>Преподаватели учебного центра</h2>
    <div class="row">
        @if (RolesHelper.IsUserHasPermissionForTc("admin"))
        {
            @Html.ActionLink("Добавить", "Create", null, new { @class = "button" })
        }
    </div>
    <section class="row teachers-blocks">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            @foreach (TrainingCentersCRM.Models.Teacher t in Model)
            {
                <li>
                    <div class="shadow">
                        <div class="tools">
                            @if (RolesHelper.IsUserHasPermissionForTc("admin"))
                            {
                                @Html.ActionLink(" ", "Edit", new { id = t.Id }, new { @class = "button fa fa-pencil", @title = "Редактировать" })
                                @Html.ActionLink(" ", "Details", new { id = t.Id }, new { @class = "button fa fa-chevron-circle-down", @title = "Подробнее" })
                                @Html.ActionLink(" ", "Delete", new { id = t.Id }, new { @class = "button fa fa-trash-o", @title = "Удалить" })
                            }
                        </div>
                        <div class="scale-wrap">
                            @if (t.Image != null)
                            {
                                @Html.Raw("<img class='scale-img' src='/empty/Teachers/Image/" + t.Id + "'/>")
                            }
                        </div>
                        <div class="teacher-info">
                            <p class="teacher-name"><b>@t.LastName @t.FirstName @t.Patronymic.</b></p>
                            <p>
                                @t.Description
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </section>
</div>