@model IEnumerable<TrainingCentersCRM.Models.Teacher>

@{
    ViewBag.Title = "Преподаватели";
}
<link rel="stylesheet" href="/Content/module.css">

<h2>Преподаватели учебного центра</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<article class="container">
    <article class="teachers row">
        <div class="col s12">
            @foreach (TrainingCentersCRM.Models.Teacher t in Model)
            {
                <div class="col s4">
                    @if (t.Image != null)
                    {
                        @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(t.Image) + "\" />")
                    }
                    <h5>@t.LastName @t.FirstName @t.Patronymic</h5>
                    <p>@t.Description</p>
                    @Html.ActionLink("Править", "Edit", new { id = t.Id }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = t.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = t.Id })
                </div>
            }
        </div>
    </article>
</article>